@import '../fonts.css';
@import '../global_styles.css';
@import '../global_styles_small.css';
@import '../global_styles_medium.css';
@import '../global_styles_large.css';
@import '../global_styles_extra_large.css';

@import "../guias_styles/guias_styles.css";
@import "../guias_styles/guias_styles_small.css";
@import "../guias_styles/guias_styles_medium.css";
@import "../guias_styles/guias_styles_large.css";
@import "../guias_styles/guias_styles_extra_large.css";

main {
    width: 90%;
    height: fit-content;

    align-self: center;

    display: flex;
    flex-direction: column;

    margin-bottom: 32px;
}