@import '../fonts.css';
@import '../global_styles.css';

main {
    width: 90%;
    height: fit-content;

    align-self: center;

    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

.titulo-home-page {
    display: flex;
    flex-direction: column;

    padding-bottom: 48px;

    border-bottom: 2px solid var(--secondary-blue);
}

.titulo-home-page h2 {
    color: var(--primary-blue);

    font-family: InterItalic;
    font-weight: 400;
}

.titulo-home-page h3 {
    color: var(--accent-color);

    font-family: InterItalic;
    font-weight: 400;
}

#descricao-website {
    font-family: InterItalic;
    font-weight: 500;

    color: var(--primary-blue);

    text-align: end;
    align-self: flex-end;
}

#explicacao-conteudo-website {
    font-family: InterItalic;
    font-weight: 500;

    margin-top: 32px;

    color: var(--gray-text);
    text-align: justify;
}


#guias-de-acesso-title {
    color: var(--primary-blue);

    font-family: InterItalic;
    font-weight: 550;

    margin-top: 24px;
}

#lista-guias-de-acesso {
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 16px;

    margin-top: 16px;

    cursor: default;
}

#lista-guias-de-acesso a {
    text-decoration: none;
}

#lista-guias-de-acesso a li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    color: white;
    font-weight: 500;

    padding: 16px;

    border-radius: 16px;

    background-color: var(--secondary-blue);
}

#lista-guias-de-acesso a li:hover {
    background-color: #7dadcc;
}

#lista-guias-de-acesso a li img {
    height: 80%;
}