@media (max-width: 600px) {
    .pergunta-frequente {
        width: 95%;
        min-height: 50px;
    }

    .titulo-pergunta-frequente img {
        height: 25px;
    }

    .titulo-pergunta-frequente h3 {
        font-size: 1.25rem;
    }

    .paragrafo-pergunta {
        font-size: 1rem;
        font-weight: 600;
    }

    .divider-faq {
        width: 80%;
        height: .35rem;
    }
}