@import '../fonts.css';
@import '../global_styles.css';
@import '../global_styles_large.css';
@import '../global_styles_extra_large.css';

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}

#informacoes-contato-hc {
    width: 100%;

    display: flex;
    justify-content: center;
}

#esquerda-informacoes-contato-hc {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#esquerda-informacoes-contato-hc h3 {
    user-select: none;

    margin-bottom: 12px;

    color: var(--primary-blue);

    font-size: xx-large;
    font-family: InterItalic;
}

#lista-formas-de-contato-hc {
    text-decoration: dotted;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

#lista-formas-de-contato-hc li {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
}

#lista-formas-de-contato-hc li span {
    font-weight: bold;
    user-select: none;
}

#lista-formas-de-contato-hc li img {
    user-select: none;
}


#direita-informacoes-endereco-hc {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#direita-informacoes-endereco-hc h3 {
    color: var(--primary-blue);

    user-select: none;

    margin-bottom: 12px;

    font-size: xx-large;
    font-family: InterItalic;
}

#lista-endereco-hc {
    text-decoration: dotted;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

#lista-endereco-hc li {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 8px;
}

#lista-endereco-hc li span {
    font-weight: bold;
    user-select: none;
}


#formulario-contato-integrantes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#formulario-contato-integrantes h2 {
    color: var(--primary-blue);

    font-family: InterItalic;

    user-select: none;
}

#formulario-contato-integrantes h4 {
    color: var(--primary-blue);

    font-family: Inter;
    font-weight: 400;

    user-select: none;

    margin-bottom: 16px;
}

.formulario-wrapper {
    width: 80%;

    align-self: center;

    border: 2px solid var(--primary-blue);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 16px;

    margin-bottom: 32px;
}

.label-formulario {
    color: var(--primary-blue);

    display: flex;
    flex-direction: column;

    font-weight: bold;
}

.input-formulario-contato {
    width: 100%;
    margin-top: 8px;

    outline: none;

    padding: 8px 8px;

    border: transparent;
    border-bottom: 2px solid var(--primary-blue);
}

.formulario-wrapper #linha-superior-form {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.formulario-wrapper #linha-inferior-form {
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.textarea-form-contato {
    width: 100%;

    border: 1px solid var(--primary-blue);
    border-radius: 15px;

    padding: 8px;
    margin-top: 8px;

    resize: none;
    outline: none;
}

.botao-formulario {
    background-color: var(--primary-blue);

    position: relative;

    box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 20px -5px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-around;

    align-self: flex-end;

    border: transparent;
    border-radius: 8px;

    font-weight: bold;
    font-size: 1.25rem;
    color: white;

    overflow: hidden;

    cursor: pointer;

    padding: 8px;

    transition: 300ms ease-in-out;
}

.botao-formulario:hover {
    background-color: #006bb3;
}

.label-form-invalida {
    color: red;
}

.input-formulario-invalido {
    border-color: red;
}

.input-formulario-invalido::placeholder {
    color: rgba(197, 43, 43, 0.75);
}

.form-invalido {
    border-color: red
}

.overflow-wrapper {
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: absolute;

    overflow: hidden;

    gap: 8px;

    transition: 350ms ease-in-out;
}

.span-enviar {
    width: fit-content;
    transition: 350ms ease-in-out;
    transition-delay: 300ms;
}