@media (min-width: 768px) {
    .formulario-wrapper {
        width: 90%;
    }

    #informacoes-contato-hc {
        width: 90%;
        height: 25vh;

        margin-bottom: 32px;
    }

    #esquerda-informacoes-contato-hc {
        width: 65%;
    }
    #esquerda-informacoes-contato-hc h3 {
        width: 70%;

        font-size: 1.5rem;
    }

    #lista-formas-de-contato-hc {
        font-size: 1rem;
    }

    #lista-formas-de-contato-hc li img {
        height: 1.25rem;
    }

    #direita-informacoes-endereco-hc {
        width: 40%;
    }

    #direita-informacoes-endereco-hc h3 {
        font-size: 1.5rem;
    }

    #lista-endereco-hc {
        font-size: 1rem;
    }

    #formulario-contato-integrantes {
        width: 85%;
    }

    #formulario-contato-integrantes h2 {
        font-size: 1.5rem;
    }

    #formulario-contato-integrantes h4 {
        font-size: 1rem;
    }

    .label-formulario {
        width: 40%;

        font-size: 1.2rem;
    }

    .input-formulario-contato {
        font-size: 1rem;
    }

    .textarea-form-contato {
        font-size: 1rem;

        height: 110px;
    }

    .botao-formulario {
        width: 150px;
        height: 40px;
    }

    .input-formulario-invalido::placeholder {
        font-size: .95rem;
    }

    .overflow-left {
        left: -85%;
    }

    .email-enviado {
        gap: 32px;
    }

    .email-enviado-remover-texto {
        width: 90px;
    }
}