@media (min-width: 1300px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .card-integrante {
        width: 360px;
        height: 500px;
    }

    .foto-integrante {
        width: 85%;
    }

    .card-integrante>h4 {
        font-size: 1.5rem;
    }

    .card-integrante>h5 {
        margin-top: 8px;
        font-size: 1.35rem;
    }
}